<section class="card">
    <header>{{event_name}}</header>
    <img src="images/{{image}}"" alt=" Convention Image"
        style="position: relative; width: 250px; height: 250px; display: block; margin: 0 auto;">
    <section class="card-info">
        <div>{{date}}</div>
        <div>{{start_time}}</div>
        <div>${{price}}</div>
    </section>
    <p><i>"{{description}}"</i></p>
</section>